<!DOCTYPE html>
<head>
    <title></title>
    <style>

body {
    font-family: 'Roboto', sans-serif !important;
    /* margin: 0px; */
    padding-bottom: 0px !important;
}
.zui-table {
    /* margin-left:10%; */
    /* box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);             */
    border: solid 1px #DDEEEE;
    border-collapse: collapse;
    border-spacing: 0;
    width:600px;
    font-size: 13px;
}
.zui-table thead th {
    background-color: #DDEFEF;
    border: solid 1px #DDEEEE;
    color: #336B6B;
    padding: 15px;
    text-align: left;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table tbody td {

    border: solid 1px #DDEEEE;
    color: #333;
    padding: 15px;
    text-shadow: 1px 1px 1px #fff;
}
.zui-table-rounded {
    border: none;
}
.zui-table-rounded thead th {
    background-color: #526cb6;
    border: none;
    text-shadow: 1px 1px 1px #526cb6;
    color: rgb(255, 255, 255);
}
.zui-table-rounded thead th:first-child {
    border-radius: 10px 0 0 0;
}
.zui-table-rounded thead th:last-child {
    border-radius: 0 10px 0 0;
}
.zui-table-rounded tbody td {
    border: none;
    border-top: solid 1px #1354a8;
    background-color: rgb(255, 255, 255);
}
.zui-table-rounded tbody tr:last-child td:first-child {
    border-radius: 0 0 0 10px;
}
.zui-table-rounded tbody tr:last-child td:last-child {
    border-radius: 0 0 10px 0;
}
.card{
    margin-bottom: 100px;
    /* box-shadow: 0 16px 32px 0 rgba(0,0,0,0.2); */
    width:600px;
    height: 600;
    overflow:auto;
}


.card-header-color h1{
    height: 100%;
    display: inline-block;
    color: white;
    position: relative;
    vertical-align: middle;
    /* top:120px; */
    /* left: 120px; */
}

.card-header-color img{
    display: inline-block;
    filter: brightness(100);
}

.card-header-color{
    background-color: #526cb6;
    margin-bottom: 2%;
    width: 600px;
    height:100px;
}
.card img{
    width:18%;
    height:100%;


}

    </style>
</head>
<body>

    <div class="card">
        <div class="card-header-color">
        <img src="https://github.com/0937452/Project-5/blob/master/robomarkt-white.png?raw=true">
        <h1>Voorraad Update!</h1>
        </div>

        <p>Hallo!</p>
    
        <p>{productName} is weer op voorraad!</p>
        <a href="http://localhost:5000/Product/Details/{productId}">Klik hier om te bestellen</a>
        <p>Met vriendelijke groet,</p>

        <p>Robomarkt</p>
    </div>
        
</body>
