@{
    ViewData["Title"] = "Registerpage";
}

<div class="container">
    <form>
        <li class="LoginPageListStyle"><input class="LoginPageInput" name="User" type="text" placeholder="Username"></li>    
        <li class="LoginPageListStyle"><input class="LoginPageInput" name="Pass" type="text" placeholder="Password"></li>
        <li class="LoginPageListStyle"><input class="LoginPageInput" name="Mail" type="text" placeholder="Email"></li>
        <li class="LoginPageListStyle"><button class="InlogPageButton">Inloggen</button></li>
    </form>
</div>