@model GenerateRecoveryCodesViewModel
@{
    ViewData["Title"] = "Herstelcodes";
    ViewData.AddActivePage(ManageNavPages.TwoFactorAuthentication);
}

<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Zet deze codes op een veilige plaats.</strong>
    </p>
    <p>
        Als u uw apparaat verliest en de herstelcodes niet hebt, raakt u de toegang tot uw account kwijt.
    </p>
</div>
<div class="row">
    <div class="col-md-12">
        @for (var row = 0; row < Model.RecoveryCodes.Count(); row += 2)
        {
            <code>@Model.RecoveryCodes[row]</code><text>&nbsp;</text><code>@Model.RecoveryCodes[row + 1]</code><br />
        }
    </div>
</div>