@using MVC.ViewModels
@model System.Collections.Generic.List<ManageUserViewModel>

@{
    ViewData["Title"] = "Beheer gebruikers";
    ViewData.AddActivePage(ManageNavPages.Users);
}

@*if (this.User.IsInRole("Admin")){
    <h4>@ViewData["Title"]</h4>
    
    @foreach (var item in Model) {
        <p>@item.user.Email
        @foreach (var role in @item.Roles) {
            <span class="badge">@role</span>
        }
        </p>
    }
} *@
User Stats

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
