@model UsersViewModel
@{
    ViewData["Title"] = "Users";
    ViewData.AddActivePage(ManageNavPages.Users);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)


@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
