@{      
   ViewData["Title"] = "Bedankt voor uw aankoop, u ontvangt zo spoedig mogelijk een bevestigingsmail!";       
}

<div class="container">
    <h2>@ViewData["Title"]</h2>
    @ViewData["Message"]
    <br/><br/><br/>
    <img src="~/images/robomarkt-bezorg.jpg" style="display:block;margin:0 auto;"/>
    
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/><br/><br/><br/>
<br/><br/><br/>

</div>
