@{
    ViewData["Title"] = "About";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
   <!-- <h3>@ViewData["Message"]</h3> !-->

    <p>Robomarkt is opgericht in 1990 en gespecialiseerd in elektronica. Voor de beste kwaliteit en scherpe prijzen bent u op het juiste adres.</p>
</div>