@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!-- <h3>@ViewData["Message"]</h3> !-->

<address>
    Wijnhaven 107<br />
    3011 WN, Rotterdam<br />
    <abbr title="Phone">Tel:</abbr>
    010-2450086
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Robomarkt@support.nl</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Robomarkt@marketing.nl</a>
</address>
