@{
    ViewData["Title"] = "Home Page";
}
<div class="container">
    <div class="col-lg-3 col-md-3">
        <ul class="categorie-items">
            <li>Computers</li>
            <li>Laptops</li>
            <li>Monitors</li>
            <li>Muizen</li>
            <li>Toetsenborden</li>
            <li>Printers</li>
          </ul>
    </div>

    <div class="col-lg-6 col-md-6 slider">
    	
          <!--<h2 id="zrtext">Best verkochte producten</h2>-->
          <div class="featured-product">
            <img id="zr"/>
          </div>
          <div class="featured-product">
            <img id="zr2"/>
          </div>
          <div class="featured-product">
            <img id="zr3"/>
          </div>
          <div class="featured-product">
            <img id="zr4"/>
          </div>
    	
    </div>
    <div class="col-lg-3 col-md-3">
    	<ul class="selling-points">
            <li>Snelle levering</li>
            <li>Niet goed geld terug!</li>
            <li>Voor 17:00 besteld, morgen in huis!</li>
            <li>Tijdelijk 10% korting op alle producten</li>
          </ul>
    </div>
</div>

<div class="row">
    
</div>

<div class="best_verkocht">
	<div class="container">
        <h4><b>Best verkocht</b></h4>
	</div>
</div>
