@{
    ViewData["Title"] = "Inloggen";
}
<div class="container">
    <h2>@ViewData["Title"]</h2>
    <h3>@ViewData["Message"]</h3>

    <li class="LoginPageListStyle"><input class="LoginPageInput" type="text" placeholder="Username" value="" ></li>
    <li class="LoginPageListStyle"><input class="LoginPageInput" name="password" type="text" placeholder="Password" value="" ></li>
     <li class="LoginPageListStyle"><button class="InlogPageButton">Inloggen</button></li>

    <p>Use this area to provide additional information.</p>
</div>