@{ ViewData["Title"] = "Grafieken"; }

<head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
        // Load the Visualization API and the corechart package.
        google.charts.load('current', {
            'packages': ['corechart']
        });

        // Set a callback to run when the Google Visualization API is loaded.
        google.charts.setOnLoadCallback(drawChart);

        // Callback that creates and populates a data table,
        // instantiates the pie chart, passes in the data and
        // draws it.
        function drawChart() {

            // Create the data table.
            var data = new google.visualization.DataTable();
            data.addColumn('date', 'Maand');
            data.addColumn('number', 'Omzet (EUR)');

            @for(int i = 0; i < ViewBag.Data.Length; i++) {
                <text>
                    data.addRows([[new Date(@ViewBag.Data[i].Date.ToUniversalTime().Subtract(new DateTime(1970, 1, 1, 0, 0, 0, DateTimeKind.Utc)).TotalMilliseconds), @ViewBag.Data[i].Price]]);
                </text>
            }

            var result = google.visualization.data.group(
                data,
                [{'column': 0, 'modifier': getMonth, 'type': 'date'}],
                [{'column': 1, 'aggregation': google.visualization.data.sum, 'type': 'number'}]
            );

            function getMonth(x){
                var month = x.getMonth();
                var year = x.getFullYear();

                return new Date(year, month);
            }

            // Set chart options
            var options = {
                title: 'Robomarkt Omzet, in €',
                curveType: 'function',
                height: 600,
                colors: ['#526cb6'],
                hAxis: {
                    format: 'MMM yy',
                    viewWindow: {
                        min: new Date(2018, 0),
                        max: new Date(2018, 11)
                    },
                    gridlines: {
                        count: 12
                    }
                },
                vAxis: {
                    format: 'short'
                },
                explorer: {
                    actions: ['dragToPan', 'rightClickToReset'],
                    axis: 'horizontal'
                }
            };

            // Instantiate and draw our chart, passing in some options.
            var chart = new google.visualization.LineChart(document.getElementById('chart_revenue'));
            chart.draw(result, options);
        }
    </script>
</head>

<body>
    <div class="container">
        <h2>Grafieken</h2>
        <div id="chart_revenue"></div>
    </div>
</body>